<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JDV Data Upload List</title>
</head>
{% include 'base.html' %}
<script>
    $(function (){
        $('#jdv_date_upload_list_table').bootstrapTable({
            //请求方法
            method: 'post',
            //类型json
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            //是否显示行间隔色
            striped: true,
            //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            cache: false,
            showSearch: false,
            //显示刷新按钮
            showRefresh: true,
            //显示切换手机试图按钮
            showToggle: false,
            //显示 内容列下拉框
            showColumns: false,
            //显示切换分页按钮
            //是否显示分页（*）
            pagination: true,
            //排序方式
            sortOrder: "asc",
            //初始化加载第一页，默认第一页
            pageNumber: 1,
            //每页的记录行数（*）
            pageSize: 10,
            //可供选择的每页的行数（*）
            pageList: [10, 25, 50, 100],
            //这个接口需要处理bootstrap table传递的固定参数,并返回特定格式的json数据
            url: "/query_system/jdv/data_upload_list/",
            //默认值为 'limit',传给服务端的参数为：limit, offset, search, sort, order Else
            //queryParamsType:'',
            ////查询参数,每次调用是会带上这个参数，可自定义
            queryParams: function (params) {
                var searchParam = $("#searchForm").serializeJSON();
                searchParam.pageNo = params.limit === undefined ? "1" : params.offset / params.limit + 1;
                searchParam.pageSize = params.limit === undefined ? -1 : params.limit;
                searchParam.orderBy = params.sort === undefined ? "" : params.sort + " " + params.order;
                searchParam.csrfmiddlewaretoken = $("#token").val();
                searchParam.tip_no = $("#tip_no").val();
                searchParam.mask_name = $("#mask_name").val();
                return searchParam;
            },
            onShowSearch: function () {
                $("#search-collapse").slideToggle();
            },
            //分页方式：client客户端分页，server服务端分页（*）
            sidePagination: "server",
            contextMenuTrigger: "right",//pc端 按右键弹出菜单
            contextMenuTriggerMobile: "press",//手机端 弹出菜单，click：单击， press：长按。
            contextMenu: '#context-menu',
            columns: [{
                checkbox: true
            }, {
                field: 'product_name',
                title: 'Product Name',
                align: 'center',
            }, {
                field: 'tip_no',
                title: 'Tip No',
                align: 'center',
            }, {
                field: 'mask_name',
                title: 'Mask Name',
                align: 'center',
            }, {
                field: 'lot_id',
                title: 'Lot ID',
                align: 'center',
            }, {
                title: 'JDV Data Upload',
                align: 'center',
                formatter: function (value, row, index) {
                    return "<button class='btn btn-primary' onclick='show_jdv_account_list()'>Upload</button>";
                }
            }]
        });

        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {//如果是移动端，默认关闭tab
            $('#production_table').bootstrapTable("toggleView");
        }

        $('#production_table').on('check.bs.table uncheck.bs.table load-success.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table', function () {
            $('#remove').prop('disabled', !$('#production_table').bootstrapTable('getSelections').length);
            $('#edit, #auth').prop('disabled', $('#production_table').bootstrapTable('getSelections').length != 1);
        });

        $("#search").click("click", function () {// 绑定查询按扭
            $('#production_table').bootstrapTable('refresh');
        });

        $("#reset").click("click", function () {// 绑定查询按扭
            $("#s_design_rule").val("");
            $("#s_layer_name").val("");
            $('#production_table').bootstrapTable('refresh');
        });
    });

    function show_jdv_account_list(){
        var tip_no = $("#tip_no").val();
        jp.openSaveDialog("JDV Account List", "/query_system/jdv/account_list/?tip_no="+tip_no,  "800px", "500px")
    }
</script>
<body>
<input id="token" type="hidden" value="{{ csrf_token }}"/>
<input id="tip_no" type="hidden" value="{{ tip_no }}"/>
<input id="mask_name" type="hidden" value="{{ mask_name }}"/>
    <div class="wrapper wrapper-content">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">JDV Data Upload List</h3>
        </div>
        <div class="panel-body">
            <!-- 表格 -->
            <table id="jdv_date_upload_list_table"></table>
        </div>
    </div>
</div>
</body>
</html>