<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;">
<head>
    <title>Machine Manage</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="author" content="http://www.jeeplus.org/"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <script>var d = "";</script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {% include 'base.html' %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('input.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>

    <meta name="decorator" content="ani"/>
    <link href="{{ static ('/ani/static/plugin/jstree/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ static ('/ani/static/plugin/jstree/jstree.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        function save() {
            jp.loading();
            jp.post("/infotree/unreleased_alta/{{method}}/", $('#inputForm').serialize(), function (data) {
                if (data.success) {
                    jp.getParent().refresh();
                    var dialogIndex = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.layer.close(dialogIndex);
                    jp.success(data.msg)
                } else {
                    jp.error(data.msg);
                }
            })
        }
    </script>
    <script>
        $(function () {
            var limit_type_val = '{{ unreleased_alta.limit_type }}';
            if (limit_type_val == 1) {
                $('#input_value').hide();
                gen_options();
            } else {
                $('#sel_value').hide();
            }
        });

        function gen_options() {
            $.ajax({
                url: '/infotree/unreleased_alta/edit_dict/',
                method: "post",
                async: false,
                datatype: 'json',
                success: function (arr) {
                    console.log(arr);
                    console.log('{{ unreleased_alta.item }}');
                    if ('{{ unreleased_alta.item }}' == 'PrintMode') {
                        for (var i = 0; i < arr.PrintMode.length; i++) {
                            if (arr.PrintMode[i] == '{{ unreleased_alta.value }}') {
                                $("#sel_value").append("<option value='" + arr.PrintMode[i] + "' selected>" + arr.PrintMode[i] + "</option>");
                            } else {
                                $("#sel_value").append("<option value='" + arr.PrintMode[i] + "'>" + arr.PrintMode[i] + "</option>");
                            }
                        }
                    }
                    if ('{{ unreleased_alta.item }}' == 'ManualAlignAction') {
                        for (var i = 0; i < arr.ManualAlignAction.length; i++) {
                            if (arr.ManualAlignAction[i] == '{{ unreleased_alta.value }}') {
                                $("#sel_value").append("<option value='" + arr.ManualAlignAction[i] + "' selected>" + arr.ManualAlignAction[i] + "</option>");
                            } else {
                                $("#sel_value").append("<option value='" + arr.ManualAlignAction[i] + "'>" + arr.ManualAlignAction[i] + "</option>");
                            }
                        }
                    }
                    if ('{{ unreleased_alta.item }}' == 'MDT') {
                        for (var i = 0; i < arr.MDT.length; i++) {
                            if (arr.MDT[i] == '{{ unreleased_alta.value }}') {
                                $("#sel_value").append("<option value='" + arr.MDT[i] + "' selected>" + arr.MDT[i] + "</option>");
                            } else {
                                $("#sel_value").append("<option value='" + arr.MDT[i] + "'>" + arr.MDT[i] + "</option>");
                            }
                        }
                    }
                }
            })
        }

        function check_value(value) {
            const item_val = $('#item').val();
            const id = $('#id').val();
            const level_val = $('#level').val();
            console.log(item_val);
            $.ajax({
                url: '/infotree/unreleased_alta/check_value/',
                method: 'post',
                data: {
                    item: item_val,
                    value: value,
                    level: level_val,
                    id: id,
                    type: 2,
                },
                dataType: 'json',
                async: false,
                success: function (data) {
                    console.log(data);
                    if (data.success) {
                        $('#file_id').val(data.file_id);
                    } else {
                        jp.alert(data.msg);
                        $('#input_value').val('');
                    }
                }
            });
        }
    </script>
</head>
<body id="" class="bg-white" style="">
<form id="inputForm" class="form-horizontal" method="post" autocomplete="off">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input id="menuIds" name="menuIds" type="hidden" value=""/>
    <input id="file_id" name="file_id" type="hidden" value=""/>
    <input id="limit_type" name="limit_type" type="hidden" value="{{ unreleased_alta.limit_type }}"/>
    <table class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
        <tbody>
        <tr>
            {# id #}
            <td class="width-15 active" class="active">
                <label class="pull-right">ID : </label>
            </td>
            <td class="width-35">
                <input id="id" name="id" class="form-control" type="text" value="{{ unreleased_alta.id or '' }}"
                       maxlength="50" readonly/>
            </td>
        </tr>
        <tr>
            {# level #}
            <td class="width-15 active" class="active">
                <label class="pull-right">Level : </label>
            </td>
            <td class="width-35">
                <input id="level" name="level" class="form-control" type="text"
                       value="{{ unreleased_alta.level or '0' }}" maxlength="50" readonly/>
            </td>
        </tr>
        <tr>
            {# type #}
            <td class="width-15 active" class="active">
                <label class="pull-right">Type : </label>
            </td>
            <td class="width-35">
                <input id="old_type" name="old_type" type="hidden" value="{{ unreleased_alta.type or ''}}">
                <input id="type" name="type" class="form-control" type="text"
                       value="{{ unreleased_alta.type or '' }}" maxlength="50" readonly/>
            </td>
        </tr>
        <tr>
            {# item #}
            <td class="width-15 active" class="active">
                <label class="pull-right">Item : </label>
            </td>
            <td class="width-35">
                <input id="old_item" name="old_item" type="hidden" value="{{ unreleased_alta.item or ''}}">
                <input id="item" name="item" class="form-control" type="text"
                       value="{{ unreleased_alta.item or '' }}" maxlength="50" readonly/>
            </td>
        </tr>
        <tr>
            {# value #}
            <td class="width-15 active" class="active">
                <label class="pull-right"><font color="red">*</font>Value : </label>
            </td>
            <td class="width-35">
                <input id="old_value" name="old_value" type="hidden" value="{{ unreleased_alta.value or ''}}">
                <input id="input_value" name="input_value" class="form-control required" type="text"
                       value="{{ unreleased_alta.value or '' }}" maxlength="50" onblur="check_value(value)"/>
                <select id="sel_value" name="sel_value" class="form-control">
                </select>
                {#            </td>#}
                {#            <td class="width-35" id="input_value">#}
                {#                <input id="old_value" name="old_value" type="hidden" value="{{ unreleased_alta.value or ''}}">#}
                {#            </td>#}
        </tr>
        <tr>
            {# limit #}
            <td class=" width-15 active" class="active">
                <label class="pull-right">Limit : </label>
            </td>
            <td class="width-35">
                <input id="old_limit" name="old_limit" type="hidden" value="{{ unreleased_alta.limit or ''}}">
                <input id="limit" name="limit" class="form-control" type="text"
                       value="{{ unreleased_alta.limit or '' }}" maxlength="50" readonly/>
            </td>
        </tr>
        <tr>
            {# version #}
            <td class="width-15 active" class="active">
                <label class="pull-right">Version : </label>
            </td>
            <td class="width-35">
                <input id="old_version" name="old_version" type="hidden"
                       value="{{ unreleased_alta.version or ''}}">
                <input id="version" name="version" class="form-control" type="text"
                       value="{{ unreleased_alta.version or '' }}" maxlength="50" readonly/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<script type='text/javascript'>
</script>
</body>
