<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;">
<head>
    <title>Writer Mapping</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="author" content="http://www.jeeplus.org/"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <script>var d = "";</script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {% include 'base.html' %}

    <script type="text/javascript">
        $(document).ready(function () {
            gen_machine_options()
            $('input.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            if("{{ method }}" == "edit"){ //修改操作
                $("#mask_type option[value='{{ b_c.mask_type}}']").attr("selected","selected");
                {#$("#tone option[value='{{ b_c.tone}}']").attr("selected","selected");#}
                {#$("#machine_id option[value='{{ b_c.machine_id}}']").attr("selected","selected");#}
            }
        });

        function gen_machine_options(){
            $.ajax({
                url:'/machine/options/',
                method: 'post',
                dataType: 'json',
                async: false,
                success: function(data){
                    for(let i = 0 ; i < data.options.length; i++){
                        $("#machine_id").append('<option value="'+data.options[i].id+'">'+data.options[i].machine_name+'</option>')
                    }
                }
            })
        }

        function select_machine(){
            let option = $("#machine_id option:selected");
            $("#exp_tool").val(option.text());
        }

    </script>

    <meta name="decorator" content="ani"/>
    <link href="{{ static ('/ani/static/plugin/jstree/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ static ('/ani/static/plugin/jstree/jstree.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        function save() {

            var isValidate = jp.validateForm('#inputForm');//校验表单
            if (!isValidate) {
                return false;
            } else {
                jp.loading();
                jp.post("/jdv/blank_code/{{method}}/", $('#inputForm').serialize(), function (data) {
                    if (data.success) {
                        jp.getParent().refresh();
                        var dialogIndex = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(dialogIndex);
                        jp.success(data.msg)
                    } else {
                        jp.error(data.msg);
                    }
                })
            }

        }
    </script>
</head>
<body id="" class="bg-white" style="">
<form id="inputForm" class="form-horizontal" action="/jdv/blank_code/{{ method }}/" method="post"
      autocomplete="off">
    <input id="token" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input id="id" name="id" type="hidden" value="{{ b_c.id or ''}}"/>
    <table class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
        <tbody>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">SEQ: </label>
            </td>
            <td class="width-35">
                <input id="seq" name="seq" class="form-control required" type="text"
                       value="{{ b_c.seq or ''}}"
                       maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Customer : </label>
            </td>
            <td class="width-35">
                <input id="customer" name="customer" class="form-control required" type="text"
                       value="{{ b_c.customer or ''}}"
                       maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="width-15 active" class="active">
                <label class="pull-right">Design Rule : </label>
            </td>
            <td class="width-35">
                <input id="design_rule" name="design_rule" class="form-control required" type="text"
                       value="{{ b_c.design_rule or ''}}"
                       maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Grade From: </label>
            </td>
            <td class="width-35">
                <input id="grade_from" name="grade_from" class="form-control required" type="text"
                       value="{{ b_c.grade_from or ''}}"
                       maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Grade To: </label>
            </td>
            <td class="width-35">
                <input id="grade_to" name="grade_to" class="form-control required" type="text"
                       value="{{ b_c.grade_to or ''}}"
                       maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Layer Name : </label>
            </td>
            <td class="width-35">
                <input id="layer_name" name="layer_name" class="form-control required" type="text"
                       value="{{ b_c.layer_name or ''}}"
                       maxlength="50"/>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">WAVELENGHT : </label>
            </td>
            <td class="width-35" colspan="3">
                <input id="wave_lenght" name="wave_lenght" maxlength="200" class="form-control"
                          value="{{ b_c.wave_lenght or ''}}"/>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Mask Type : </label>
            </td>
            <td class="width-35" colspan="3">
{#                <input id="mask_type" name="mask_type" maxlength="200" class="form-control"#}
{#                          value="{{ w_m.mask_type or ''}}"/>#}
                <select id="mask_type" name="mask_type" class="form-control">
                    <option value="*">*(B,P,M)</option>
                    <option value="BIN">BIN</option>
                    <option value="PSM">PSM</option>
                    <option value="OMOG">OMOG</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Tone : </label>
            </td>
            <td class="width-35" colspan="3">
{#                <input id="tone" name="tone" maxlength="200" class="form-control"#}
{#                          value="{{ w_m.tone or ''}}"/>#}
                <select id="tone" name="tone" maxlength="200" class="form-control">
                    <option value="*">*(C,D)</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Blank Code : </label>
            </td>
            <td class="width-35" colspan="3">
                <input id="blank_code" name="blank_code" maxlength="200" class="form-control"
                          value="{{ b_c.blank_code or ''}}"/>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Part No : </label>
            </td>
            <td class="width-35" colspan="3">
                <input id="part_no" name="part_no" maxlength="200" class="form-control"
                          value="{{ b_c.part_no or ''}}"/>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Blank : </label>
            </td>
            <td class="width-35" colspan="3">
                <input id="blank" name="blank" maxlength="200" class="form-control"
                          value="{{ b_c.blank or ''}}"/>
            </td>
        </tr>
        </tbody>
    </table>
    </tr>
</form>
</body>
