

<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;">
	<head>
		<title>Edit Tooling Form Value</title>

		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="author"  />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=9,IE=10" />
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-store">
		<script>
			var d = "";
		</script>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		{% include 'base.html' %}
		


		<meta name="decorator" content="ani" />
		

	</head>
	<body id="" class="bg-white" style="">
		<form id="inputForm" class="form-horizontal" action="/log_form/" method="post">
			<input type ="hidden" name ="csrfmiddlewaretoken" value ="{{csrf_token}}">

			
			<table class="table table-bordered">
				<tbody>
							{% for k,v in dict_list %}
							
							<tr>
								<td>{{k}}</td><td>{{v}}</td>
								
							</tr>
							
							<!-- <option>{{item}}</option> -->
							{% endfor %}
				
				</tbody>
			</table>
		</form>

	</body>
</html>
