<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;">
<head>
    <title>DB Convert Status</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="author" content="http://www.jeeplus.org/"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <script>var d = "";</script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!--引入CSS-->
    <link rel="stylesheet" type="text/css" href="{{ static ('/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static ('/layui/css/layui.css') }}">
    <!--引入JS-->
    <script type="text/javascript" src="{{ static ('/js/jquery-3.4.1.js') }}"></script>
    <script type="text/javascript" src="{{ static ('/layui/layui.js') }}"></script>
    {% include 'base.html' %}
    <style>
        .width-35{
            word-wrap:break-word;
            word-break:break-all;
        }
    </style>
    <script type="text/javascript">
        var element, form;
        layui.use('element', function () {
            element = layui.element;
        });
        layui.use('form', function () {
            form = layui.form;
        });
        $(document).ready(function () {
            get_current_status()
            $("input:radio[value='{{ device.operation_status }}']").attr('checked','true');
            $('input.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

        function save() {
            var isValidate = jp.validateForm('#inputForm');//校验表单
            if (!isValidate) {
                return false;
            } else {
                jp.loading();
                jp.post("/making/lot/convert/status/operate/", $('#inputForm').serialize(), function (data) {
                    if (data.success) {
                        jp.getParent().refresh();
                        let dialogIndex = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(dialogIndex);
                        jp.success(data.msg)
                    } else {
                        jp.error(data.msg);
                    }
                })
            }
        }

        function get_current_status() {
            switch ({{ device.operation_status }}) {
                case 0:
                    $("#curr_status").append("Release")
                    break
                case 1:
                    $("#curr_status").append("Skip")
                    break
                case 2:
                    $("#curr_status").append("Hold")
                    break
            }
        }
        
        function open_log_dialog(){
            jp.close()
            jp.openTab('/making/convert/status/log/list/?convert_status_id={{ device.id }}', "Fracture Convert Log", true);
        }
        
    </script>

    <meta name="decorator" content="ani"/>
</head>
<body id="" class="bg-white" style="">
<form id="inputForm" class="form-horizontal layui-form" action="/making/lot/convert/status/operate/" method="post"
      autocomplete="off">
    <input id="token" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input id="id" type="hidden" name="convert_status_id" value="{{ device.id }}">
    <input id="id" type="hidden" name="stage_name" value="{{ device.stage }}">
    <table class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
        <tbody>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Flow : </label>
            </td>
            <td class="width-35" colspan="3">
                {{ stage.flow }}
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Pre-stage : </label>
            </td>
            <td class="width-35" colspan="3">
                {{ stage.pre_stage }}
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Pre-stage file : </label>
            </td>
            <td class="width-35" colspan="3">
                {{ pre_stage_file }}
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Location : </label>
            </td>
            <td class="width-35" colspan="3">
                {{ device.location }}
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">File name : </label>
            </td>
            <td class="width-35" colspan="3">
                {{ device.file_name }}
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Operation : </label>
            </td>
            <td class="width-35" colspan="3" class="layui-form-item">
                {% if "release" in operations %}
                    <input type="radio" name="operation" value="0" title="release" checked="">
                {% endif %}
                {% if "hold" in operations %}
                    <input type="radio" name="operation" value="2" title="hold">
                {% endif %}
                {% if "skip" in operations %}
                    <input type="radio" name="operation" value="1" title="skip">
                {% endif %}
                {#                {% if "rework_mode1" in operations %}#}
                {#                    <input type="radio" name="operation" value="3" title="mode1">#}
                {#                {% endif %}#}
                {#                {% if "rework_mode2" in operations %}#}
                {#                    <input type="radio" name="operation" value="4" title="mode2">#}
                {#                {% endif %}#}
                {#                {% if "rework_mode3" in operations %}#}
                {#                    <input type="radio" name="operation" value="5" title="mode3">#}
                {#                {% endif %}#}
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Rework : </label>
            </td>
            <td class="width-35" colspan="3">
                <select id="rework" name="rework" class="layui-select" style="width: 100%;"
                        lay-filter="rework" lay-search>
                    <option value="">please choose</option>
                    {% if "rework_mode1" in operations %}
                        <option value="1">rework mode1</option>
                    {% endif %}
                    {% if "rework_mode2" in operations %}
                        <option value="2">rework mode2</option>
                    {% endif %}
                    {% if "rework_mode3" in operations %}
                        <option value="3">rework mode3</option>
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Current status : </label>
            </td>
            <td id="curr_status" class="width-35" colspan="3">
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Process : </label>
            </td>
            <td class="width-35" colspan="3">
                {{ device.progress }}
            </td>
        </tr>
        <tr>
            <td class="width-15 active">
                <label class="pull-right">Latest Operator : </label>
            </td>
            <td class="width-35" colspan="3">
{#                {{ logs }}#}
                <label class="pull-left">{{ operator or 'no operator' }}</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" onclick="open_log_dialog()">Operate Log</a>
            </td>
        </tr>
        {#        <tr>#}
        {#            <td class="width-15 active">#}
        {#                <label class="pull-right">Remark : </label>#}
        {#            </td>#}
        {#            <td class="width-35" colspan="3">#}
        {#                <textarea class="layui-textarea">{{ device.remark }}</textarea>#}
        {#            </td>#}
        {#        </tr>#}
        </tbody>
    </table>
    </tr>
</form>
</body>
