<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;">
<head>
    <title>Machine Manage</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="author" content="http://www.jeeplus.org/"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <script>var d = "";</script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {% include 'base.html' %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('input.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%', // optional
            });
        });
    </script>

    <meta name="decorator" content="ani"/>
    <link href="{{ static ('/ani/static/plugin/jstree/style.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ static ('/ani/static/plugin/jstree/jstree.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        function save() {
            var isValidate = jp.validateForm('#inputForm');//校验表单
            if (!isValidate) {
                return false;
            } else {
                jp.loading();
                jp.post("/system/tooling_upload_error_msg/{{method}}/", $('#inputForm').serialize(), function (data) {
                    if (data.success) {
                        alert('123123')
                        jp.getParent().refresh();
                        jp.getParent().refreshLayer();
                        var dialogIndex = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(dialogIndex);
                        jp.success(data.msg)
                    } else {
                        jp.error(data.msg);
                    }
                })
            }
        }

        //$(document).ready(function () {
        //}

        {#$(document).ready(function () {#}
        {#    $("#name").focus();#}
        {#    $("#inputForm").validate({#}
        {#        rules: {#}
        {#            name: {#}
        {#                remote: "/making/mdt/check/name/?oldName=" +#}
        {#                    encodeURIComponent("{{ mdt.layer_name or '' }}")#}
        {#            }//设置了远程验证，在初始化时必须预先调用一次。#}
        {#        },#}
        {#        messages: {#}
        {#            name: {remote: "layer name exists!"}#}
        {#        }#}
        //    });
        //});
    </script>
</head>
<body id="" class="bg-white" style="">
<form id="inputForm" class="form-horizontal" action="/making/mdt/layer/{{ method }}/" method="post"
      autocomplete="off">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input id="id" name="id" type="hidden" value="{{ error_msg.id or ''}}"/>
{#    <input id="set_id" name="set_id" type="hidden" value="{{ set_id or ''}}"/>#}
    <table class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
        <tbody>
        <tr>
            {#          Set ID#}
            <td class="width-15 active">
                <label class="pull-right"><font color="red">*</font>Set ID : </label>
            </td>
            <td class="width-35">
                {#                <input id="oldname" name="oldname" type="hidden" value="{{ error_msg.set_id or ''}}" >#}
                <input id="set_id" name="set_id" class="form-control required" type="text"
                       value="{{ set_id or '' }}"
                       maxlength="50" readonly/>
            </td>
            <td class="width-15 active">
                <label class="pull-right"></label>
            </td>
            <td class="width-35">
            </td>
        </tr>
        <tr>
            {#            Message#}
            <td class="width-15 active">
                <label class="pull-right"><font color="red">*</font> Message : </label>
            </td>
            <td class="width-35" colspan="3">
                <textarea id="message" name="message" maxlength="200" class="form-control required"
                          rows="4">{{ error_msg.message or '' }}</textarea>
            </td>
        </tr>
        <tr>
            {#            Remark#}
            <td class="width-15 active">
                <label class="pull-right">Remark : </label>
            </td>
            <td class="width-35" colspan="3">
                <textarea id="remark" name="remark" maxlength="200" class="form-control"
                          rows="4">{{ error_msg.remark or '' }}</textarea>
            </td>
        </tr>
        </tbody>
    </table>
    <input id="menuIds" name="menuIds" type="hidden" value=""/>
</form>
</body>
