<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;">
<head>
    <title>MDT Manage</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="author" content="http://www.jeeplus.org/"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <script>var d = "";</script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {% include 'base.html' %}
    <script type="text/javascript">

        $(document).ready(function () {
            $('input.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

    </script>

    <meta name="decorator" content="ani"/>
    <script src="{{ static ('/ani/static/plugin/bootstrapTable/bootstrap-table-zh-CN.js') }}"></script>
    <script src="{{ static ('/ani/static/plugin/bootstrapTable/bootstrap-table-contextmenu.js') }}"></script>
    <script src="{{ static ('/ani/static/plugin/bootstrapTable/tableExport.js') }}"></script>
    <script src="{{ static ('/ani/static/plugin/bootstrapTable/bootstrap-table-export.js') }}"></script>
    <script>

        {# left #}
        $(document).ready(function () {
            $('#table').bootstrapTable({
                //请求方法
                method: 'post',
                //类型json
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                //是否显示行间隔色
                striped: true,
                //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                cache: false,
                showSearch: true,
                //显示刷新按钮
                showRefresh: true,
                //显示切换手机试图按钮
                showToggle: true,
                //显示 内容列下拉框
                showColumns: true,
                //显示切换分页按钮
                //是否显示分页（*）
                pagination: true,
                //排序方式
                sortOrder: "asc",
                //初始化加载第一页，默认第一页
                pageNumber: 1,
                //每页的记录行数（*）
                pageSize: 10,
                //可供选择的每页的行数（*）
                pageList: [10, 25, 50, 100],
                //这个接口需要处理bootstrap table传递的固定参数,并返回特定格式的json数据
                url: "/system/sync/log/list/",
                //默认值为 'limit',传给服务端的参数为：limit, offset, search, sort, order Else
                //queryParamsType:'',
                ////查询参数,每次调用是会带上这个参数，可自定义
                queryParams: function (params) {
                    var searchParam = $("#searchForm").serializeJSON();
                    searchParam.pageNo = params.limit === undefined ? "1" : params.offset / params.limit + 1;
                    searchParam.pageSize = params.limit === undefined ? -1 : params.limit;
                    searchParam.orderBy = params.sort === undefined ? "" : params.sort + " " + params.order;
                    return searchParam;
                },
                onShowSearch: function () {
                    $("#search-collapse").slideToggle();
                },
                //分页方式：client客户端分页，server服务端分页（*）
                sidePagination: "server",
                contextMenuTrigger: "right",//pc端 按右键弹出菜单
                contextMenuTriggerMobile: "press",//手机端 弹出菜单，click：单击， press：长按。
                contextMenu: '#context-menu',
                onContextMenuItem: function (row, $el) {
                    if ($el.data("item") == "edit") {
                        edit(row.id);
                    } else if ($el.data("item") == "delete") {
                        del(row.id);

                    }
                },
                columns: [{
                    field: 'id',
                    title: 'ID',
                    align: 'center',
                }, {
                    field: 'config_id',
                    title: 'sync_id',
                    align: 'center',
                }, {
                    field: 'status',
                    title: 'Status',
                    align: 'center',
                    formatter: function operateFormatter(value, row, index) {
                        if (row.status == 1) {
                            return [
                                '<i>Success</i>',
                            ].join('');
                        } else if (row.status == 2) {
                            return [
                                '<i>Failed</i>',
                            ].join('');
                        }
                    },
                }, {
                    field: 'run_time',
                    title: 'Run Time',
                    align: 'center',
                    formatter: function operateFormatter(value, row, index) {
                        Date.prototype.Format = function (fmt) {
                            var o = {
                                "M+": this.getMonth() + 1, //月份
                                "d+": this.getDate(), //日
                                "h+": this.getHours(), //小时
                                "m+": this.getMinutes(), //分
                                "s+": this.getSeconds(), //秒
                                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                                "S": this.getMilliseconds() //毫秒
                            };
                            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                            for (var k in o)
                                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                            return fmt;
                        }
                        console.log(value);
                        var crtTime = new Date(value).Format("yyyy-MM-dd hh:mm:ss");
                        return crtTime
                    },
                }, {
                    field: 'duration',
                    title: 'Duration',
                    align: 'center',
                    formatter: function operateFormatter(value, row, index) {
                        return value.toFixed(3)
                    }
                    //}, {
                    {#    field: 'started',#}
                    {#    title: 'Started',#}
                    {#    formatter: function operateFormatter(value, row, index) {#}
                    {#        return value.toFixed(3)#}
                    {#    }#}
                    //}, {
                    {#    field: 'finished',#}
                    {#    title: 'Finished',#}
                    {#    formatter: function operateFormatter(value, row, index) {#}
                    {#        return value.toFixed(3)#}
                    {#    }#}
                }, {
                    field: 'add',
                    title: 'Add',
                    align: 'center',
                }, {
                    field: 'enable',
                    title: 'Enable',
                    align: 'center',
                }, {
                    field: 'cancel',
                    title: 'Cancel',
                    align: 'center',
                }, {
                    field: 'operate',
                    title: 'Operation',
                    align: 'center',
                    events: {
                        'click .view': function (e, value, row, index) {
                            view(row.id)
                        },
                        'click .detail': function (e, value, row, index) {
                            if (($("#right").css('display')) == 'none') {
                                $("#left").attr("class", "col-sm-6");
                                setTimeout(function () {
                                    $("#right").fadeIn(500);
                                }, 500)
                                $("#roleId").val(row.id);
                                $('#userTable').bootstrapTable("refresh", {query: {id: row.id}});
                            } else if ($("#roleId").val() == row.id) {
                                mdt_check()
                            } else {
                                $("#roleId").val(row.id);
                                $('#userTable').bootstrapTable("refresh", {query: {id: row.id}});
                            }
                        }
                    },
                    formatter: function operateFormatter(value, row, index) {
                        return [
                            {% if '/system/sync/log/view/' in request.session.MASK_DP_SESSION_CURRENT_USER_PERMISSION_LIST %}
                                '<a href="#" class="view" title="View" ><i class="fa fa-eye"></i> </a>',
                            {% endif %}
                            '&nbsp;',
                            {% if '/system/sync/log/detail/list/' in request.session.MASK_DP_SESSION_CURRENT_USER_PERMISSION_LIST %}
                                '<a href="#" class="detail"  title="Detail"><i class="fa fa-list-alt"></i> </a>'
                            {% endif %}
                        ].join('');
                    }
                }]
            });

            if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {//如果是移动端，默认关闭tab
                $('#table').bootstrapTable("toggleView");
            }

            $('#table').on('check.bs.table uncheck.bs.table load-success.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
                $('#remove').prop('disabled', !$('#table').bootstrapTable('getSelections').length);
                $('#edit, #auth').prop('disabled', $('#table').bootstrapTable('getSelections').length != 1);
            });

            $("#search").click("click", function () {// 绑定查询按扭
                mdt_check()
                $('#table').bootstrapTable('refresh');

            });

            $("#reset").click("click", function () {// 绑定查询按扭
                $("#s_c_id").val("");
                $("#s_start_time").val("");
                $("#s_end_time").val("");
                $('#table').bootstrapTable('refresh');
            });

        });

        function getIdSelections() {
            return $.map($("#table").bootstrapTable('getSelections'), function (row) {
                return row.id
            });
        }

        function getSelections() {
            return $.map($("#table").bootstrapTable('getSelections'), function (row) {
                return row
            });
        }

        function view(id) {
            if (!id) {
                id = getIdSelections();
            }
            jp.openViewDialog('Sync Log View', '/system/sync/log/view/?id=' + id, '800px', '500px');
        }

        function refresh() {
            $('#table').bootstrapTable('refresh');
        }

        function refreshLayer() {
            $('#userTable').bootstrapTable("refresh", {query: {id: $("#roleId").val()}});
        }

        {# right #}
        $(document).ready(function () {
            $('#userTable').bootstrapTable({
                //请求方法
                method: 'post',
                //类型json
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                //是否显示行间隔色
                striped: true,
                //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                cache: false,
                //是否显示分页（*）
                pagination: true,

                pageList: [100],
                //这个接口需要处理bootstrap table传递的固定参数,并返回特定格式的json数据
                url: "/system/sync/log/detail/list/",
                //默认值为 'limit',传给服务端的参数为：limit, offset, search, sort, order Else
                //queryParamsType:'',
                ////查询参数,每次调用是会带上这个参数，可自定义
                queryParams: function (params) {
                    var searchParam = $("#right_searchForm").serializeJSON();
                    searchParam.pageNo = params.limit === undefined ? "1" : params.offset / params.limit + 1;
                    searchParam.pageSize = params.limit === undefined ? -1 : params.limit;
                    searchParam.orderBy = params.sort === undefined ? "" : params.sort + " " + params.order;
                    return searchParam;
                },
                //分页方式：client客户端分页，server服务端分页（*）
                sidePagination: "server",
                columns: [{
                    field: 'id',
                    title: 'ID'
                }, {
                    field: 'status',
                    title: 'Status'
                }, {
                    field: 'user',
                    title: 'User',
                }, {
                    field: 'operate',
                    title: 'Operation',
                    align: 'center',
                    events: {
                        'click .view': function (e, value, row, index) {
                            jp.openViewDialog('View ', '/making/mdt/layer/view/?id=' + row.id, '800px', '500px');
                        },
                        'click .edit': function (e, value, row, index) {
                            jp.openSaveDialog('Edit Role', '/making/mdt/layer/edit/?id=' + row.id, '800px', '500px');
                            $("#s_layer_name").val("");
                        },
                        'click .del': function (e, value, row, index) {
                            right_del(row.id);
                        },
                    },
                    formatter: function operateFormatter(value, row, index) {
                        return [
                            {% if '/making/mdt/layer/view/' in request.session.MASK_DP_SESSION_CURRENT_USER_PERMISSION_LIST %}
                                '<a href="#" class="view" title="View" ><i class="fa fa-eye"></i> </a>',
                            {% endif %}
                            '&nbsp;',
                            {% if '/making/mdt/layer/edit/' in request.session.MASK_DP_SESSION_CURRENT_USER_PERMISSION_LIST %}
                                '<a href="#" class="edit" title="Edit"><i class="fa fa-edit"></i> </a>',
                            {% endif %}
                            '&nbsp;',
                            {% if '/making/mdt/layer/del/' in request.session.MASK_DP_SESSION_CURRENT_USER_PERMISSION_LIST %}
                                '<a href="#" class="del" title="Delete"><i class="fa fa-trash"></i> </a>',
                            {% endif %}
                        ].join('');
                    }
                }]

            });

            if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {//如果是移动端
                $('#userTable').bootstrapTable("toggleView");
            }
        });

        function mdt_check() {
            $("#left").attr("class", "col-sm-12");
            $("#right").attr("style", "display:none;");
        }
    </script>
</head>
<body id="" class="" style="">

<div class="wrapper wrapper-content">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Sync log list</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <!-- left start -->
                <div id="left" class="col-sm-12">
                    <!-- 搜索 -->
                    <div id="search-collapse" class="collapse">
                        <div class="accordion-inner">
                            <form id="searchForm" class="form form-horizontal well clearfix" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <label class="label-item single-overflow pull-left" title="C_ID">C_ID:</label>
                                    <input id="s_c_id" name="s_c_id" class=" form-control input-sm"
                                           type="text" value="" maxlength="64"/>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <label class="label-item single-overflow pull-left" title="Start Time">Start
                                        Time:</label>
                                    {#                                    <input id="s_start_time" name="s_start_time" class=" form-control input-sm"#}
                                    {#                                           type="text" value="" maxlength="64"/>#}
                                    {#                                    <input id="s_start_time" name="s_start_time" class=" form-control input-sm"#}
                                    {#                                           data-provide="datepicker" data-date-format="yyyy-mm-dd">#}
                                    <div class='input-group date' id='datetimepicker_1' style="clear:both">
                                        <input id="s_start_time" name="s_start_time" type='text'
                                               class="form-control input-sm"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker_1').datetimepicker({
                                                format: 'YYYY-MM-DD HH:mm',
                                                locale: 'en'
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <label class="label-item single-overflow pull-left" title="Time">End Time:</label>
                                    {#                                    <input id="s_end_time" name="s_end_time" class=" form-control input-sm"#}
                                    {#                                           type="text" value="" maxlength="64"/>#}
                                    <div class='input-group date' id='datetimepicker_2' style="clear:both">
                                        <input id="s_start_time" name="s_start_time" type='text'
                                               class="form-control input-sm"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker_2').datetimepicker({
                                                format: 'YYYY-MM-DD HH:mm',
                                                locale: 'en'
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div style="margin-top:26px">
                                        <a id="search" class="btn btn-primary btn-rounded  btn-bordered btn-sm"><i
                                                class="fa fa-search"></i> Query</a>
                                        <a id="reset" class="btn btn-primary btn-rounded  btn-bordered btn-sm"><i
                                                class="fa fa-refresh"></i> Reset</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- 工具栏 -->
                    {#                    <div id="toolbar">#}
                    {#                        <a id="add" class="btn btn-primary"#}
                    {#                           onclick="jp.openSaveDialog('Add MDT', '/making/mdt/add/','800px', '680px')">#}
                    {#                            <i class="glyphicon glyphicon-plus"></i> Add</a>#}
                    {#                        <button id="remove" class="btn btn-danger" disabled onclick="del()">#}
                    {#                            <i class="glyphicon glyphicon-remove"></i> Delete#}
                    {#                        </button>#}
                    {#                    </div>#}
                    <!lo-- 工具栏结束 -->

                    <!-- 表格 -->
                    <table id="table"
                           data-toolbar="#toolbar"
                           data-id-field="id">
                    </table>

                    <!-- context menu -->
                    <ul id="context-menu" class="dropdown-menu">
                        <li data-item="edit"><a>编辑</a></li>
                        <li data-item="delete"><a>删除</a></li>
                        <li data-item="action1"><a>取消</a></li>
                    </ul>
                </div>
                <!-- left end -->

                <!-- right start -->
                <div id="right" class="panel panel-default col-sm-6" style="display:none">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>Detail: </label><font id="roleLabel"></font></h3>
                    </div>
                    <form id="right_searchForm" class="form form-horizontal well clearfix" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input id="roleId" name="roleId" class=" form-control input-sm"
                               type="hidden" value="" maxlength="64"/>
                    </form>
                    <div class="panel-body">

                        <!-- 表格 -->
                        {#                        <div id="userToolbar">#}
                        {#                            <button id="layerButton" class="btn btn-outline btn-primary" title="Add User"#}
                        {#                                    onclick="layerAdd()">#}
                        {#                                <i class="fa fa-user-plus"></i>Add Layer#}
                        {#                            </button>#}
                        {#                        </div>#}
                        <table id="userTable"
                               data-toolbar="#userToolbar"
                               data-id-field="id">
                        </table>
                    </div>
                </div>
                <!-- right end -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
